#[uni]
#resolve uni
###set resolveProperty = false
json.rule.convert[#regex:io.smallrye.mutiny.Uni.Uni<(.*?)>]=${1}
json.rule.convert[#regex:io.smallrye.mutiny.Uni.Uni]=java.lang.Object
json.rule.convert[#regex:io.smallrye.mutiny.Uni.Multi<(.*?)>]=java.util.List<${1}>
json.rule.convert[#regex:io.smallrye.mutiny.Uni.Multi]=java.util.List<java.lang.Object>
###set resolveProperty = true
